@rendermode InteractiveServer

<div class="sm:max-w-[95%] mb-8 p-2 @(ChatMessage.sender == "llm-chatbot" ? "align-self-start" : "align-self-end bg-[#2F2F2F]") md:max-w-[80%] rounded-md lg:max-w-[80%] lg:w-fit">
    <text class="sm:text-lg md:text-xl lg:text-xl text-white bg-inherit">
        @ChatMessage.message
    </text>
</div>

@code{
    [Parameter]
    public ChatMessage ChatMessage { get; set; }

}       