
<footer class="flex justify-center items-center mt-1">
    <text class="text-center text-white">made with ❤️ by <a class="underline" href="https://github.com/saent-x">saent-x</a> (@Year) </text>
</footer>
    
@code{
    public uint Year => (uint)DateTime.Today.Year;
}