package views

import "github.com/saent-x/llm-chatbot/src/components"
import "github.com/saent-x/llm-chatbot/src/handlers"

templ Home(user string) {
	@components.Layout() {
	    <div class="flex flex-col h-screen items-center justify-center">
	        <h1 class="text-5xl font-bold">Hello 👋, you're welcome to chat!</h1>
	        @components.Input("", "")
			@components.Button("Take me there 👉", "", handlers.NavigateTo)
	    </div>
	}
}
