package components

templ Input(placeholder string, class string) {
	<div>
	    <input class="shadow appearance-none border rounded text-center text-[30px] w-[400px] h-[60px] py-2 px-3 text-gray-700 mt-[50px] leading-tight focus:outline-none focus:shadow-outline"
    	           id="username"
    	           type="text"
    	           placeholder="Enter your username">
    </div>
}