@page "/"
@inherits llm_chatbot.Components.Pages.HomeBase
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="flex flex-col justify-center h-full items-center">
    <h1 class="text-7xl font-medium">🤖 Welcome to llm-chatbot</h1>
    
    <input class="text-3xl mt-10 w-[30%] text-gray-500 text-center"
           @bind="Username"
           placeholder="Enter your name & press [Enter]"
           @onclick="GotoChatPage"
            />
    
</div>