@page "/chat"
@inherits llm_chatbot.view.Pages.ChatBase
@using llm_chatbot.view.Components
@rendermode InteractiveServer

<div class="flex justify-center m-auto w-[100%] h-[90%] bg-gray-100">
    <div class="flex justify-center items-center bg-gray-200 h-[50px] w-[100%] text-center">
        <RadzenText class="text-white" TextStyle="TextStyle.DisplayH4">🤖</RadzenText>
    </div>
    
    <div class="overflow-auto m-2">
        @foreach (var cm in chatMessages)
        {
            <ChatMessageCard ChatMessage="@cm"/>
        }
    </div>
</div>

<div class="flex justify-center w-[100%] mt-2">
    <RadzenFormField Text="type your question" class="sm:w-[100%] md:w-[100%] lg:w-[50%]">
        <RadzenTextArea Style="width: 100%; height: 50px; font-size: 20px" />
    </RadzenFormField>
</div>

