@page "/chat"
@inherits llm_chatbot.view.Pages.ChatBase
@using llm_chatbot.view.Components
@rendermode InteractiveServer

<div class="flex flex-col items-center m-auto w-[100%] h-[96%] bg-[#212121]">
    <div class="flex justify-center items-center bg-gray-200 h-[50px] w-[100%] text-center">
        <RadzenText class="text-white" TextStyle="TextStyle.DisplayH4">🤖</RadzenText>
    </div>
    
    <div id="chatMessages" class="flex flex-col overflow-auto sm:p-2 md:p-5 lg:p-10 w-[80%] h-[82%]">
        @foreach (var cm in _chatService?.chatMessages!)
        {       
            <ChatMessageCard ChatMessage="@cm"/>
        }
    </div>

    <div class="place-content-end h-[14%] w-[100%]">
        <ChatInput @bind-Message="Message" OnSendCallBack="SendAsync"/>
    </div>
</div>


